/*

This document contains all of the styling for the document.
You do not need to change this.

*/










/* Classes available to any object */

.vertical-align {
    display: flex;
    align-items: center;
}

.horizontal-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

/* Classes and ids related specifically to the header */

#logo {
    width: 310px;
}

.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
    border-top: 5px solid #ED7923;
    
}

.header {
    margin: 0px;
    padding: 0px;
}

.header h1 {
    color: #1F3D7C;
    font-size: 56px;
    font-family: Cabin-Regular;
}

#search {
    font-size: 16px;
}





/* Classes and ids related specifically to the Side Navigation */

#sideNav {
    max-height: 77vh;
}

#sideNav button {
    text-align: left;
}

.panel-group {
    margin: 0px;
    margin-bottom: 7px;
    padding: 0px;
}

.list-group-item {
    padding: 0px;
    color: white;
    margin: 0px;
    margin-left: 10px;
    border-style: none;
}

.btn {
    color: white;
    font-size: 12px;
    padding: 3px;
    margin: 0px;
}

.btn-folder,
.btn-folder:active,
.btn-folder:focus {
    color: white;
    background-color: #1F3D7C;
    border-color: #1F3D7C;
    border-radius: 0px;
    font-family: Cabin-Regular;
    font-size: 15px;
    margin: 0px !important;
    padding: 0px;
    padding-left: 2px;
}

.btn-page,
.btn-page:active,
.btn-page:focus {
    color: white;
    background-color: #777;
    border-color: #777;
    border-radius: 0px;
    font-family: Cabin-Regular;
    font-size: 15px;
    margin: 0px !important;
    padding: 0px;
    padding-left: 2px;
}

.btn-active,
.btn-active:active,
.btn-active:focus {
    color: white;
    background-color: #047940;
    border-color: #047940;
    border-radius: 0px;
    font-family: Cabin-Regular;
    font-size: 15px;
    margin: 0px !important;
    padding: 0px;
    padding-left: 2px;
}

.btn-active:hover {
    color: white;
    background-color: #047A40;
    border-color: #047A40;
}

.btn-folder:hover {
    color: white;
    background-color: #047A40;
    border-color: #047A40;
}

.btn-page:hover {
    color: white;
    background-color: #ED7923;
    border-color: #ED7923;
}

a {
    color: #1F3D7C;
}

a:hover {
    text-decoration: none;
    color: #047A40;
}

.btn-icon,
.btn-icon:active,
.btn-icon:focus {
    height: 32px;
    width: 32px;
    color: white;
    background-color: #1F3D7C;
    border-color: #1F3D7C;
    border-radius: 0px;
}

.btn-icon:hover {
    color: white;
    background-color: #047A40;
    border-color: #047A40;
}



/*  Classes related to content */

#content {
    max-height: 77vh;
}

#pageTitle {
    font-family: BebasKai-Regular;
    font-size: 40px;
    color: #ED7923;
}

.filePath {
    color: white;
    background: #047A40; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #047940 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #047940, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #047940, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #047940 , white); /* Standard syntax */
    padding: 3px;
}

p {
    font-family: Cabin-regular;
    color: #777;
}

li {
    font-family: Cabin-regular;
    color: #777;
}

h4 {
    font-family: Cabin-regular;
    color: #777;
}

.btn-search-results {
    background-color: white;
    color: #1F3D7C;
    border-color: white;
    padding: 0px;
    margin: 3px;
    text-align: left;
}

.btn-search-results:hover {
    background-color: white;
    color: #047940;
    border-color: white;
}

.searchTitle {
    padding: 0px;
    margin: 0px;
    font-family: BebasKai-Regular;
}

.searchPath {
    padding: 0px;
    margin: 0px;
}

.float {
    float: left;
    margin-bottom: 15px;
}

.floatBreak {
    clear: both;
}

.modal-content {
    width: 850px;
}

.modal-dialog {
    margin-left: 150px;
}

.close,
.close:active,
.close:focus {
    height: 32px;
    width: 32px;
    color: white;
    background-color: #1F3D7C !important;
    border-color: #1F3D7C !important;
    border-radius: 0px;
    opacity: 1 !important;
    text-shadow: none !important;
}

.close:hover {
    color: white !important;
    background-color: #047A40 !important;
    border-color: #047A40 !important;
}

.modal-title {
    color: #047940;
}

img {
    width: 415px;
}

.img-lg {
    width: 830px;
}

/* Fonts */

@font-face
{
font-family: Cabin-Regular;
src: url('Fonts/Cabin-Regular.otf');
}

@font-face
{
font-family: BebasKai-Regular;
src: url('Fonts/BebasKai-Regular.otf');
}

/* Print Settings */

@media print {
  body * {
    visibility: hidden;
  }
  #printarea, #printarea * {
    visibility: visible;
  }
  #printarea {
    position: fixed;
    left: 0;
    top: 0;
  }
}

/*

Color Reference

Blue:       #1F3D7C
Green:      #047940
Orange:     #ED7923
Grey:       #777 

*/